<html lang="en">
  <head>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.upload.systems/assets/css/argon.css"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="/api/img/raw/<%=name%>" />
    <meta name="twitter:image:src" content="/api/img/raw/<%=name%>" />
    <meta property="og:image" content="/api/img/raw/<%=name%>" />
    <meta name="theme-color" content="#7c00d7" />
    <meta property="og:title" content="<%=name%>" />
    <meta name="twitter:title" content="<%=name%>" />
    <meta
      name="twitter:description"
      content="Uploaded with a poggers sharex service."
    />
    <meta
      property="og:description"
      content="Uploaded with a poggers sharex service."
    />
    <link type="application/json+oembed" href="/api/img/raw/<%=name%>"" />
  </head>
  <body class="bg-dark">
    <div class="row mt-5 no-gutters">
      <div class="col-md-3"></div>
      <div class="col-md-6 mx-2">
        <div class="text-center bg-dark mb-4">
          <div class="card-body">
            <h1><%=name%></h1>
            <% if(ext.includes('txt' || 'md' || 'css')){ %>
            <meta
              http-equiv="Refresh"
              content="0; url='/api/content/raw/<%=name%>'"
            />
            <% } %>
            <a href="/api/content/raw/<%=name%>" target="_blank">
              <img
                src="/api/content/raw/<%=name%>"
                alt="Click me if txt, otherwise this image has been deleted."
                style="
                  max-height: 75vh;
                  width: auto;
                  max-width: 100%;
                  border-radius: 0.25rem;
                "
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
